* {
    background-image: url("./img/digital-art-pixel-art-pixels-building-pixelated-hd-wallpaper-preview.jpg");
    background-repeat: no-repeat;
    width: 100%;
    color: floralwhite;
    background-attachment: fixed;
    background-size: cover;
}